@mixin border-radius() {
	-webkit-border-radius: 10px;
	-mox-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
@mixin padding($top, $right, $bottom, $left) {
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}
