// Required for customization
@import './scss/functions';
@import './scss/variables';
@import './scss/mixins';

$theme-colors: (
	'light': #fff,
	'dark': #2c3454,
);

// Import at the end of our custom styles
@import './scss/bootstrap.scss';

@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';

body {
	margin: 0;
	padding: 0;
	text-align: center;
	color: $primary-font-color;
}
img {
	@include border-radius();
}

.jumbotron {
	background-color: $primary-background-color;
	@include padding(20px, 20px, 20px, 20px);
	// margin-left: 20px;
	// margin-right: 20px;
	// @include border-radius();
	font-family: $primary-heading-font;
}

.image2 {
	display: none;
}
.nav-item {
	text-align: right;
}

.navbar {
	font-family: $primary-heading-font;
	padding: 0 20px 0 5px;
}

// Medium screens and up
@media (min-width: 768px) {
	.image1 {
		display: none;
	}
	.image2 {
		display: inline-block;
	}
	.jumbotron {
		@include padding(40px, 40px, 40px, 40px);
	}
	.portrait {
		// display: block;
		align-items: right;
	}
}

// Big screens
// @media (min-width: 1024px) {
// 	.image2 {
// 		width: 100px;
// 		height: 100px;
// 	}
// }
