// Required for customization
@import "./scss/functions";
@import "./scss/variables";
@import "./scss/mixins";

$theme-colors: (
	"light": #fff,
	"dark": #2c3454,
);

// Import at the end of our custom styles
@import "./scss/bootstrap.scss";

@import "./vendor/normalize";
@import "./partials/colors";
@import "./partials/mixins";
@import "./partials/typography";

// Styling for elements
body {
	margin: 0;
	padding: 0;
	text-align: center;
	color: $primary-font-color;
}
footer {
	background-color: $quaternary-background-color;
	color: $tertiary-font-color;
	margin-top: 5px;
	@include padding(40px, 20px, 20px, 20px);
}
footer a {
	color: $dark;
}
footer p {
	padding-top: 30px;
}
form {
	text-align: left;
	font-family: $paragraph-font;
	font-size: larger;
	margin-top: 40px;
}
h1,
h2,
h3 {
	font-family: $primary-heading-font;
}
img {
	@include border-radius();
}
label {
	padding-bottom: 10px;
}
p,
ul {
	font-family: $paragraph-font;
	padding-top: 10px;
}
section {
	margin-top: 25px;
	@include padding(40px, 20px, 40px, 20px);
	margin-left: 10px;
	margin-right: 10px;
}
section h2 {
	margin-bottom: 30px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

// Styling for classes
.aboutIntro {
	background-color: $tertiary-background-color;
}
.arrow {
	padding-top: 40px;
	display: none;
}
.btn {
	margin-top: 10px;
}
.card {
	@include padding(10px, 15px, 10px, 15px);
}
.card-footer {
	margin-top: 40px;
}
.card0Margin {
	margin-top: 0;
}
.card-title {
	margin-bottom: 0.67em;
	margin-top: 0.67em;
}
.contactImg {
	margin-bottom: 40px;
}
.evenSection {
	background-color: $tertiary-background-color;
	color: $secondary-font-color;
	@include border-radius();
}
.headerNav {
	text-align: right;
}
.jumbotron {
	background-color: $primary-background-color;
	@include padding(20px, 20px, 20px, 20px);
	font-family: $primary-heading-font;
	margin-top: 74px;
}
.logo {
	width: 60px;
}
.navbar {
	font-family: $primary-heading-font;
	@include padding(0, 2px, 0, 1px);
}
.oddSection {
	background-color: $secondary-background-color;
	color: $secondary-background-color;
	@include border-radius();
}
.projectsIntro {
	background-color: $secondary-background-color;
}
.showLgScreen {
	display: none;
}
.sticky-top {
	position: fixed;
	width: 100%;
}

// Medium screens and up
@media (min-width: 768px) {
	footer {
		margin-top: 20px;
	}
	p {
		@include padding(10px, 30px, 5px, 20px);
	}
	p,
	ul {
		font-size: 18px;
	}
	section {
		@include border-radius();
		margin-left: 25px;
		margin-right: 25px;
	}
	.logo {
		width: 80px;
	}
	.jumbotron {
		@include padding(40px, 40px, 40px, 40px);
		border-radius: 0;
		margin-top: 90px;
	}
	.navbar {
		@include padding(0, 10px, 0, 5px);
	}
	.showLgScreen {
		display: inline-block;
	}
	.showSmScreen {
		display: none;
	}
}

// Big screens
@media (min-width: 1024px) {
	.arrow {
		display: inline-block;
	}
	.jumbotron {
		margin-top: 115px;
		border-radius: 0;
	}
	p,
	ul {
		font-size: 20px;
	}
	.navbar {
		@include padding(0, 12px, 0, 12px);
	}
	.pcGirl {
		max-height: 45vh;
		margin-top: 20px;
	}
}
